.header{
    margin: auto auto;
    padding: 15px 15px;
    font-size: 40px;
    color: green;
}

.card-title{
    color: green;
}

.card > a:link{
    background-color: green;
    border-color: green;
}
 
