#Team {
    padding-bottom: 40px;
    text-align: center;
}

#Footer {
    display: grid;
    align-items: center;
    justify-content: center;
}


#About,
#UrbanFarming,
#Team,
#Mission,
#Services {
  position: absolute;
  top: -100px;
}