.map-contact-container {
    padding-bottom: 35px;
  }

  
.mapz {
    align-content: left;

    h2 {
        text-align: center;
        margin-right: 40px;
    }

    iframe {
        width: 100%;
        height: 500px;
        border: 0;
    }
}
