// Team //

  
.team-cards {

    .card {
        background-color: #0f6225;
    }

    .teamtitle {
        color: #eeefec;
    }
  
    .teamsubtitle {
        color: #eeefec;
        font-size: 19px;
    }
        
    .teamtext {
        color: #eeefec;
    }
}