// Layout 

@import 
  'layout/footer',
  'layout/form',
  'layout/grid',
  'layout/nav';

// Components

@import 
  'components/buttons',
  'components/cards',
  'components/gallery',
  'components/icons',
  'components/img',
  'components/map';

@import "_ID.scss";


// Body and html

body,
html {
  height: 100%;
  width: 100%;
  padding-left: 0;
  scroll-behavior: smooth;
  font-family: "Quicksand", sans-serif;
  color: #122101;
  font-weight: 500;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url("../../img/Backgroundgarden.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
