// Button Header

.btn {
    background-color: #025e05;
    border: #025e05;
    border-radius: 30px 30px;
    padding: 15px 32px;
    text-align: center;
    cursor: pointer;
    position: relative;
    color: #eeefec;
    transition-duration: 0.4s;
    overflow: hidden;
}
  
.btn:hover {
    background: #eeefec;
    color: #025e05;
    box-shadow: 0 5px 15px #025e05;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}
  
.btn:after {
 content: "";
    background: #025e05;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -35px;
    margin-top: -120%;
    opacity: 0;
    transition: all 1s;
    border-radius: 30px 30px;
}
  
.btn:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
}
  
.btn:focus {
    outline: 0;
}


// Button Form 

.form-btn {
    display: inline-block;
    background: #025e05;
    color: #eeefec;
    padding: 14px 0;
    cursor: pointer;
    margin-top: 8px;
    width: 100%;
    text-decoration: none;
    border-radius: 8px;
}